.wrapper {
  border-radius: 45px;
  background: #e6e6e68c;
  box-shadow: 6px 9px 16px 9px #a0a0a085;
  .container-left {
    background: rgba(0, 0, 0, 0.5294117647);
    border-top-right-radius: 40%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5px;
    img {
      width: 100%;
      height: 743px;
      border: 1.2px solid black;
      border-top-right-radius: 42%;
      border-top-left-radius: 4%;
      border-bottom-left-radius: 77%;
      border-bottom-right-radius: 5%;
    }
  }
  .container-right {
    form {
      width: 70%;
      padding-top: 138px;
      h2 {
        margin-bottom: 40px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: black;
      }
      input {
        width: 100%;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 2px solid rgb(52 52 52 / 70%);
        padding: 10px 0px;
        margin-bottom: 10px;
      }
      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1d1d1d;
        border: transparent;
        &:active {
          opacity: 0.7;
          background: #1d1d1d;
        }
      }
      span {
        display: flex;
        margin-top: 16px;
        a {
          font-weight: 600;
          color: #212121;
        }
      }
    }
  }
}
